/* blue rgb(81, 224, 224) */
/* red rgb(221, 63, 63) */
.itemCalc{
    padding: 15px 30px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.red{
    background-color: rgb(228, 91, 91);
}
.green{
    background-color: rgb(81, 224, 188);
}