/* blue rgb(81, 224, 224) */
/* red rgb(221, 63, 63) */
.itemCalc{
    padding: 15px 30px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:hover{
        .closeVisible{
            transition: all 0.21s ease-in-out;
            height: 15px;
            box-shadow: 0 0 5px 1px #fff;
        }
    }
    .close{
        position: absolute;
        width: 15px;
        height: 15px;
        font-size: 11px;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .closeVisible{
        height: 0;
        overflow: hidden;
    }
}
.red{
    background-color: rgb(228, 91, 91);
}
.green{
    background-color: rgb(81, 224, 188);
}